<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script> -->
    <style>
        body {
            background-image: url('static/images/gettyimages-10.jpg');
            background-size: cover;
        }

        div {
            text-align: center;
            padding: 50px;
        }

        h1 {
            color: red;
        }
    </style>
</head>

<body>
    <h1 class=" text-center mt-5 text-uppercase ">SCHOOL MANAGEMENT SYSTEM</h1>
    <div>
    <a href="login" class=" p-5 h3 text-light ">Login</a>
    <a href="studregister" class="text-warning p-5 h3 text-light">Register</a>
    <!-- <a href="logout"  class="text-warning p-5 h3 text-light">Logout</a> -->
    </div>
</body>

</html>
