<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script> -->
    <style>
        body {
            background-image: url('static/images/pexels-pixabay-268976.jpg');
        }

        h1 {
            text-align: center;
            color: blue;
            text-decoration-line: underline;
            text-decoration-style: dashed;
            text-decoration-color: lawngreen;
        }

        a {
            color: aqua;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <br>
    <h1>Teacher Home Page</h1><br>
    <div class="h3  text-center ">
        <a href="Teacherprofile">View My profile</a><br><br>
        <a href="viewstudent">View Student Details</a><br><br>
        <a href="logout">Logout</a>
    </div>
</body>

</html>